<div class="row">
    <div class="col-md-4">
        <!-- <sm-segment class="raised"> -->
        <div class="panel panel-default">
            <!-- <h3>Create Loan</h3> -->
            <div class="panel-heading"><h4>Create Loan</h4></div>
            <div class="panel-body">
            <!-- <form> -->
                <!-- <div class="two fields"> -->
                <div class="form-group">
                    <label>Loan Name</label>
                    <input type="text" class="form-control" [(ngModel)]="nameField" placeholder="" value="Loan" />
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input class="form-control" [(ngModel)]="principleField" value="10000" />
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="field"> -->
                    <!-- <div class="fields"> -->
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label>Interest Rate</label>
                        <div class="input-group">

                            <input class="form-control" type="text" [(ngModel)]="rateField" value="6" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <label>Compounded</label>
                        <!-- <div class="input-group"> -->

                            <!-- <div class="ui selection dropdown">
                                <input type="hidden" [(ngModel)]="period" name="period" />
                                <i class="dropdown icon"></i>
                                <div class="default text">Monthly</div>
                                <div class="menu">
                                    <div class="item" data-value="daily" data-text="Daily">Daily</div>
                                    <div class="item" data-value="monthly" data-text="Monthly">Monthly</div>
                                    <div class="item" data-value="annually" data-text="Annually">Annually</div>
                                </div>
                            </div> -->
                        <select class="form-control" id="foobar" #periodDropdown>
                            <option value="daily">Daily</option>
                            <option value="monthly">Monthly</option>
                            <option value="annually">Annually</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label>Starting Date</label>
                            <div class='input-group date'>
                                <input data-format="MM/dd/yyyy" type='text' class="form-control" [(ngModel)]="datePicker" id="datetimepicker1" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <!-- <input type="text" [(ngModel)]="datePicker" /> -->
                        <!-- <div class="input-append date" id="startingDate" #startingDate>
                            <input data-format="MM/dd/yyyy" type="text" [(ngModel)]="datePicker" />
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                          <div class="ui input left icon">
                            <i class="calendar icon"></i>

                        </div>
                        </div> -->
                    </div>
                </div>
                <!-- </div> -->
            <!-- </form> -->
                <div class="row">
                    <div class="col-md-12 btn-group">
                        <button type="button" class="btn positive" (click)="createLoan()">Create Loan</button>
                    </div>
                </div>
            </div>
            
            <!-- <div class="ui divider hidden"></div> -->
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <!-- <div class="ui blurred"> -->
            <div class="panel-heading"><h4>Ledger</h4></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Payment</th>
                            <th>Interest Accr.</th>
                            <th>Paid on Princ.</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let record of currentLoan.records">
                        <td>{{record.id}}</td>
                        <td>{{format(record.date)}}</td>
                        <td *ngIf="record.payment > 0" class="cell positive">${{record.payment.toFixed(2)}}</td>
                        <td *ngIf="record.payment < 0" class="cell negative">-${{record.payment.toFixed(2) * -1}}</td>
                        <td>${{record.interest.toFixed(2)}}</td>
                        <td>${{record.pd_on_prc.toFixed(2)}}</td>
                        <td>${{record.balance.toFixed(2)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
