<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-special-heading">
                <h4 *ngIf="showCreatePanel">Create Loan</h4>
                <h4 *ngIf="showControlPanel">{{currentLoan.name}}</h4>
            </div>
            <div class="panel-body">
                <div *ngIf="showCreatePanel == true" class="form-group">
                    <label>Loan Name</label>
                    <input type="text" class="form-control" [(ngModel)]="nameField" placeholder="" value="Loan" />
                </div>
                <div *ngIf="showCreatePanel" class="form-group">
                    <label>Amount</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input class="form-control" [(ngModel)]="principleField" value="10000" />
                    </div>
                </div>
                <div *ngIf="showControlPanel" class="form-group">
                    <label>Principle</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input class="form-control" [(ngModel)]="principleField" value="10000" disabled />
                    </div>
                </div>

                <!-- Starting Date Selector Input Group -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label>Starting Date</label>
                            <div class='input-group date'>
                                <input data-format="MM/dd/yyyy" type='text' class="form-control" [(ngModel)]="datePicker" id="datetimepicker1" [disabled]="showControlPanel" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Starting Date Input Selector Group -->

                <!-- Interest Input Group -->
                <div class="row even form-group">
                    <div class="col-xs-6">
                        <label>Interest Rate</label>
                        <div class="input-group">

                            <input class="form-control" type="text" [(ngModel)]="rateField" value="6" (change)="rateFieldChange()"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <label>Compounded</label>
                        <!-- <div class="input-group"> -->

                            <!-- <div class="ui selection dropdown">
                                <input type="hidden" [(ngModel)]="period" name="period" />
                                <i class="dropdown icon"></i>
                                <div class="default text">Monthly</div>
                                <div class="menu">
                                    <div class="item" data-value="daily" data-text="Daily">Daily</div>
                                    <div class="item" data-value="monthly" data-text="Monthly">Monthly</div>
                                    <div class="item" data-value="annually" data-text="Annually">Annually</div>
                                </div>
                            </div> -->
                        <select class="form-control" id="foobar" [(ngModel)]="periodSelector" #periodDropdown (change)="rateFieldChange()">
                            <option value="daily">Daily</option>
                            <option value="monthly">Monthly</option>
                            <option value="annually">Annually</option>
                        </select>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            Effective interest rate: {{effectiveRate().toFixed(4)}}% annually
                        </div>
                    </div>
                </div>
                <!-- End Interest Input Group -->


                <!-- Create Button Group -->
                <div *ngIf="showCreatePanel" class="row">
                    <div class="col-md-6 btn-group">
                        <button type="button" class="btn positive" (click)="createLoan()">Create Loan</button>
                    </div>
                    <!-- <div class="col-md-6 btn-group input-group">
                        <span class="input-group-btn"><button type="button" class="btn purple" (click)="createAmortizedLoan()">Create Loan Amortized Over</button></span>
                        <input type="text" class="form-control" value="5" />
                        <span class="input-group-addon">years</span>
                    </div> -->
                </div>
                <!-- End Create Button Group -->


                <!-- Loan Control Panel -->
                <div *ngIf="showControlPanel" class="well">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Borrow More</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" [(ngModel)]="borrowField" placeholder="" value="10000" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 btn-group">
                            <button type="button" class="btn positive" (click)="borrowMore()">Borrow</button>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Make Payment</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" [(ngModel)]="payField" placeholder="" value="1000" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 btn-group">
                            <button type="button" class="btn positive" (click)="payLoan()">Pay</button>
                        </div>
                    </div>
                </div>
                <!-- End Loan Control Panel -->
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default panel-special">
            <!-- <div class="ui blurred"> -->
            <div class="panel-heading panel-special-heading">
                <h4>
                    <span>{{currentLoan.name}}</span>
                    <span>Ledger</span>
                </h4>
                <!-- <h4 class="vdivide">
                    <div class="row">
                        <div class="col-sm-2 col-divide">Ledger</div>
                        <div class="col-sm-3 col-divide">{{currentLoan.name}}</div>
                    </div>
                </h4> -->
            </div>
            <div class="panel-body">
                <!-- <div class="panel panel-default panel-thin"> -->
                <table class="table table-bordered table-curved table-responsive">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Payment</th>
                            <th>Interest Accr.</th>
                            <th>Paid on Princ.</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let record of currentLoan.records">
                        <td>{{record.id}}</td>
                        <td>{{format(record.date)}}</td>
                        <td *ngIf="record.payment > 0" class="cell positive">${{record.payment.toFixed(2)}}</td>
                        <td *ngIf="record.payment < 0" class="cell negative">-${{record.payment.toFixed(2) * -1}}</td>
                        <td>${{record.interest.toFixed(2)}}</td>
                        <td>${{record.pd_on_prc.toFixed(2)}}</td>
                        <td>${{record.balance.toFixed(2)}}</td>
                    </tr>
                </table>
            <!-- </div> -->
            </div>
        </div>
    </div>
</div>
