<nav class="main-navbar navbar navbar-default ui menu inverted attached blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand" [routerLinkActive]="['active']">Gilly Loan</a>
        </div>
        <div class="collapse navbar-collapse">
            <a [routerLink]="['/contact']" class="item" [routerLinkActive]="['active']">Contact</a>

        </div>
    </div>
</nav>

<div class="ui container">
    <br />
    <router-outlet></router-outlet>
</div>
