<sm-segment class="raised">
	<h1>Welcome to Eris Technologies</h1>
	<sm-list class="ui list bulleted">
		<sm-item class="item">Can do stuff</sm-item>
		<sm-item class="item">Foobar</sm-item>
	</sm-list>
	<p>
		Ipsem Lorem
	</p>
</sm-segment>
<br/>

<sm-button class="positive" (click)="createLoan()">Create Loan</sm-button>


<sm-button class="right floated" (click)="signup()">Foobar</sm-button>

<div class="ui divider hidden"></div>

<!-- Signup response -->
<sm-segment style="word-wrap: break-word;" *ngIf="response" class="raised">
	<sm-list class="ui list bulleted">
		<sm-item class="item">hashed: {{response?.hashed}}</sm-item>
		<sm-item class="item">salt: {{response?.salt}}</sm-item>
	</sm-list>
</sm-segment>

<!-- API call response -->
<sm-segment *ngIf="error" class="inverted red">
	<sm-item class="item">{{error?.message}}</sm-item>
</sm-segment>

<sm-segment *ngIf="data" class="inverted green">
	<sm-item class="item">{{data?.title}}</sm-item>
	<sm-item class="item">{{data?.text}}</sm-item>
</sm-segment>
